/* MARK: - HEADER & BODY CSS */
* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  /*background-color: #000;*/
}

header {
  width: 100%;
  height: 100px;
  background-color: #0000CC;
}

/* helps align images in center */

header > img {
  line-height: 100px;
  margin-left: 25px;

}

.header_container {
  float: right;
  margin-top: -4px;
}

#account_container {
  display: inline-block;
  margin-right: 150px;
  height: 100px;
}

#account_container > #account_btns {
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  color: white;
  line-height: 100px;
}

#account_btns > #login, #account_btns > #create_acc {
  margin: 0 20px;
  padding: 8px 12px;
}

#create_acc {
  background-color: #CB3D48;
  border-radius: 25px;
}


#location {
  display: inline-block;
  margin-right: 150px;
}

#order {
  display: inline-block;
  margin-right: 35px;
}
