<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Jessies Pizza | Halifax and Dartmouth</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:050,400,600,700" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% load staticfiles %}
  <link rel='stylesheet' href="{% static 'css/style.css' %}">
  <script src="{% static 'js/main.js' %}"></script>
</head>
<body>
  <div class='order-bg'>
    <div class='order-form-container'>
      <div class='order-form'>
        <img src='{% static "img/exit.svg" %}' id='close-order-from-btn'>
      </div>
    </div>
  </div>
  <header>
    <span class="helper"></span><img src='{% static "img/logo.png" %}' alt='Jessies Pizza'>
    <div class='header_container'>
      <div id='account_container'>
        <div id='login-box' style='display:none;'>
          <div class='login-box-container'>
            <span class='login_head'>Log In</span>
            <!-- LOGIN INPUT -->
            <!-- LOGIN INPUT -->
            <span class='login_btn'>LOG IN</span>
            <span class='forgot_pwd'>Forgot your password</span>
          </div>
        </div>
        <div id='account_btns'>
          <span id='login'>LOG IN</span>
          <span id='create_acc'>CREATE ACCOUNT</span>
        </div>
      </div>
      <div id='location'>
        <!-- select html here -->
        <span id='location_head'>SELECT A STORE:</span>
        <select>
          <option SELECTED=''>Main Street Dartmouth</option>
          <option>Lower Sackville</option>
          <option>Halifax, North St.</option>
        </select>
      </div>
      <div id='order'>
        <img src='{% static "img/cart.svg" %}' id='cart'>
        <span class='item_notif'>2</span>
        <div id='order_details'>
          <span id='order_head'>ORDER DETAILS</span>
          <span id='order_amount'>$25.99</span>
        </div>
        <span id='view_order_btn'>VIEW ORDER <img src='{% static "img/view_order_arrow.svg" %}'> </span>
      </div>
    </div>
    <nav>
      <div class='nav-item selected'><a href='index.html'>Menu</a></div>
      <div class='nav-item'><a href='locations.html'>Locations</a></div>
      <div class='nav-item'><a href='about.html'>About</a></div>
      <div class='nav-item'><a href='contact.html'>Contact</a></div>
    </nav>
  </header>
  <div>
    {% block content %}
    {% endblock%}
  </div>
</body>
</html>
