{% extends "order/header.html" %}

{% block content %}
{% load static %}
<div class='deals_container'>
  <div class='deal_main_n1'>
    <ul>
      <li>
        <img src='{% static "img/deals/large_pz_1.png" %}' id='left_pizza'>
        <span class='deals_order_btn'>ORDER NOW <img src='img/view_order_arrow.svg'></span>
      </li>
      <li>
        <img src='{% static "img/deals/large_pz_1.png" %}' id='left_pizza'>
        <span class='deals_order_btn'>ORDER NOW <img src='img/view_order_arrow.svg'></span>
      </li>
      <li>
        <img src='{% static "img/deals/large_pz_1.png" %}' id='left_pizza'>
        <span class='deals_order_btn'>ORDER NOW <img src='img/view_order_arrow.svg'></span>
      </li>
      <li>
        <img src='{% static "img/deals/large_pz_1.png" %}' id='left_pizza'>
        <span class='deals_order_btn'>ORDER NOW <img src='img/view_order_arrow.svg'></span>
      </li>
      <li>
        <img src='{% static "img/deals/large_pz_1.png" %}' id='left_pizza'>
        <span class='deals_order_btn'>ORDER NOW <img src='img/view_order_arrow.svg'></span>
      </li>
    </ul>
    <div class='slider-controls'>
      <span class='selected'>&nbsp</span>
      <span>&nbsp</span>
      <span>&nbsp</span>
      <span>&nbsp</span>
      <span>&nbsp</span>
    </div>
  </div>
  <div class='deal_sub_n2'>
    <span>Deal 2</span>
    <img src='{% static "img/deals/large_pz_2.jpeg" %}'>
  </div>
  <div class='deal_sub_n3'>
    <span>Deal 3</span>
    <img src='{% static "img/deals/poutine_1.jpg" %}'>
  </div>
</div>
<div id="menu_container">
  <div id='menu'>
    <div id='menu_nav'>
      <span class='menu-category'>Specials</span>
      <span class='menu-category selected'>Pizza</span>
      <span class='menu-category'>Burgers and Donairs</span>
      <span class='menu-category'>Subs, Wraps, and Salads</span>
      <span class='menu-category'>Poutine and More</span>
      <span class='menu-category'>Chicken and Fish</span>
      <span class='menu-category'>Drinks</span>
    </div>
    <div id='menu-table'>
      <div class='menu-item'>
        <img src="{% static 'img/pizza.jpg' %}" alt='Menu Item Preview' class='menu-item-img'>
        <span class='menu-item-number'>#1</span>
        <span class='menu-item-desc'>Any Two Medium Classic Pizza's</span>
        <span class='menu-item-price'>$24.99</span>
        <div class='menu-btn-container'>
          <div class='menu-btns'>
            <span class='menu-item-add-btn'>Add To Order</span>
            <span class='menu-item-remove-btn'>Remove x1</span>
            <span class='menu-item-amount'><strong>x2</strong> currently in order</span>
          </div>
        </div>
      </div>
      <div class='menu-item'>
        <img src="{% static 'img/pizza.jpg' %}" alt='Menu Item Preview' class='menu-item-img'>
        <span class='menu-item-number'>#1</span>
        <span class='menu-item-desc'>Any Two Medium Classic Pizza's</span>
        <span class='menu-item-price'>$24.99</span>
        <div class='menu-btn-container'>
          <div class='menu-btns'>
            <span class='menu-item-add-btn'>Add To Order</span>
          </div>
        </div>
      </div>
      <div class='menu-item'>
        <img src="{% static 'img/pizza.jpg' %}" alt='Menu Item Preview' class='menu-item-img'>
        <span class='menu-item-number'>#1</span>
        <span class='menu-item-desc'>Any Two Medium Classic Pizza's</span>
        <span class='menu-item-price'>$24.99</span>
        <div class='menu-btn-container'>
          <div class='menu-btns'>
            <span class='menu-item-add-btn'>Add To Order</span>
          </div>
        </div>
      </div>
      <div class='menu-item'>
        <img src="{% static 'img/pizza.jpg' %}" alt='Menu Item Preview' class='menu-item-img'>
        <span class='menu-item-number'>#1</span>
        <span class='menu-item-desc'>Any Two Medium Classic Pizza's</span>
        <span class='menu-item-price'>$24.99</span>
        <div class='menu-btn-container'>
          <div class='menu-btns'>
            <span class='menu-item-add-btn'>Add To Order</span>
          </div>
        </div>
      </div>
      <div class='menu-item'>
        <img src="{% static 'img/pizza.jpg' %}" alt='Menu Item Preview' class='menu-item-img'>
        <span class='menu-item-number'>#1</span>
        <span class='menu-item-desc'>Any Two Medium Classic Pizza's</span>
        <span class='menu-item-price'>$24.99</span>
        <div class='menu-btn-container'>
          <div class='menu-btns'>
            <span class='menu-item-add-btn'>Add To Order</span>
            <span class='menu-item-remove-btn'>Remove x1</span>
            <span class='menu-item-amount'><strong>x2</strong> currently in order</span>
          </div>
        </div>
      </div>
      <div class='menu-item'>
        <img src="{% static 'img/pizza.jpg' %}" alt='Menu Item Preview' class='menu-item-img'>
        <span class='menu-item-number'>#1</span>
        <span class='menu-item-desc'>Any Two Medium Classic Pizza's</span>
        <span class='menu-item-price'>$24.99</span>
        <div class='menu-btn-container'>
          <div class='menu-btns'>
            <span class='menu-item-add-btn'>Add To Order</span>
            <span class='menu-item-remove-btn'>Remove x1</span>
            <span class='menu-item-amount'><strong>x2</strong> currently in order</span>
          </div>
        </div>
      </div>
      <div class='menu-item'>
        <img src="{% static 'img/pizza.jpg' %}" alt='Menu Item Preview' class='menu-item-img'>
        <span class='menu-item-number'>#1</span>
        <span class='menu-item-desc'>Any Two Medium Classic Pizza's</span>
        <span class='menu-item-price'>$24.99</span>
        <div class='menu-btn-container'>
          <div class='menu-btns'>
            <span class='menu-item-add-btn'>Add To Order</span>
          </div>
        </div>
      </div>
      <div class='menu-item'>
        <img src="{% static 'img/pizza.jpg' %}" alt='Menu Item Preview' class='menu-item-img'>
        <span class='menu-item-number'>#1</span>
        <span class='menu-item-desc'>Any Two Medium Classic Pizza's</span>
        <span class='menu-item-price'>$24.99</span>
        <div class='menu-btn-container'>
          <div class='menu-btns'>
            <span class='menu-item-add-btn'>Add To Order</span>
          </div>
        </div>
      </div>
      <div class='menu-item'>
        <img src="{% static 'img/pizza.jpg' %}" alt='Menu Item Preview' class='menu-item-img'>
        <span class='menu-item-number'>#1</span>
        <span class='menu-item-desc'>Any Two Medium Classic Pizza's</span>
        <span class='menu-item-price'>$24.99</span>
        <div class='menu-btn-container'>
          <div class='menu-btns'>
            <span class='menu-item-add-btn'>Add To Order</span>
          </div>
        </div>
      </div>
      <div class='menu-item'>
        <img src="{% static 'img/pizza.jpg' %}" alt='Menu Item Preview' class='menu-item-img'>
        <span class='menu-item-number'>#1</span>
        <span class='menu-item-desc'>Any Two Medium Classic Pizza's</span>
        <span class='menu-item-price'>$24.99</span>
        <div class='menu-btn-container'>
          <div class='menu-btns'>
            <span class='menu-item-add-btn'>Add To Order</span>
          </div>
        </div>
      </div>
    </div>
    <div class='menu_pages_container'>
      <div class='menu_pages'>
        <span><img src='{% static "img/left.svg" %}'></span>
        <span class='selected'>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span><img src='{% static "img/right.svg" %}'></span>
      </div>
    </div>
  </div>
</div>
{% endblock %}
